bucket                      = "iaac-homelab-terraform-state"
key                         = "homelab/terraform.tfstate"
region                      = "us-east-1"
endpoint                    = "http://localhost:9000"
access_key                  = "minioadmin"
secret_key                  = "minioadmin"
skip_credentials_validation = true
skip_region_validation      = true
skip_metadata_api_check     = true
force_path_style            = true
